
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read and update their own user document.
    // User creation/deletion is handled by other services (e.g. Firebase Auth triggers).
    match /users/{userId} {
      allow read, update: if request.auth.uid == userId;
    }

    // Users can manage their own graphs.
    match /users/{userId}/graphs/{graphId} {
        allow read, write, create, delete, list: if request.auth.uid == userId;
    }
    
    // Users can manage their own AI requests.
    match /users/{userId}/aiRequests/{requestId} {
        allow read, write, create, delete, list: if request.auth.uid == userId;
    }
  }
}
